.card {
  max-width: 413px;
  position: relative;
}

.card__description {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 335px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.card__image:hover {
  transform: scale(1.03);
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 413px;
  width: 100%;
}

.card__heart-button {
  background-image: url(../images/like_Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}

.card__heart-button:hover {
  opacity: 100%;
}

.card__heart-button_click {
  background-image: url(../images/heartliked.svg);
  opacity: 1;
}

.card__heart-button_click:hover {
  opacity: 0.4;
}

.card__delete-button {
  background-image: url(../images/State=DeleteDefault.svg);
  background-position: center;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border: none;
  background-color: #0000004d;
  cursor: pointer;
  z-index: 1;
}

.card__delete-button:hover {
  background-image: url(../images/State=deleteHover.svg);
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
    width: 100%;
  }

  .card__heart-button {
    width: 20px;
    height: 18px;
    padding: 0;
  }

  .card__description {
    font-size: 16px;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 260px;
  }
}
