.modal {
  visibility: hidden;
  position: fixed;
  background-color: #00000080;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  z-index: 2;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: #ffffff;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 32px;
  right: 50px;
  background-image: url(../images/close_icon.svg);
  border: none;
  background-color: transparent;
  opacity: 0.4;
  padding: 0;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__close-button_type_preview {
  width: 40px;
  height: 40px;
  top: 0;
  right: -52.5px;
  background-image: url(../images/preview_close_icon.svg);
  opacity: 1;
}

.modal__close-button_pre:hover {
  opacity: 0.4;
}

.modal__close-button_inactive {
  opacity: 0.5;
}

.modal__heading {
  margin: 0 0 32px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: #212121b2;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  max-width: 630px;
  width: 100%;
  border-radius: 8px;
  padding: 16px 12px;
  box-sizing: border-box;
  border: 1px solid #21212166;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.modal__input::placeholder {
  color: #2121214d;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.modal__input:hover {
  border: 1px solid #212121;
}

.modal__input_type_error {
  border: 1px solid #ff0000b2;
}

.modal__input-error {
  display: none;
}

.modal__input-error_active {
  display: block;
  margin-top: 8px;
  color: #ff0000b2;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
}

.modal__save-button {
  max-width: 156px;
  width: 100%;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  padding: 18px 32px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  border: none;
  cursor: pointer;
}

.modal__save-button:hover {
  opacity: 0.8;
}

.modal__container-preview {
  position: relative;
}

.modal__preview-image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.modal__preview-caption {
  color: #fff;
  background: #212121;
  border-radius: 8px;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  margin: 8px 0 0;
  max-width: 214px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

@media screen and (max-width: 630px) {
  .modal__container {
    padding: 12px 12px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__heading {
    margin: 0 0 24px;
    font-size: 20px;
    padding: 10px 0;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__save-button {
    max-width: 100vw;
  }

  .modal__preview-container {
    padding: 6px;
  }

  .modal__preview-image {
    max-width: unset;
    width: 100%;
  }

  .modal__close-button_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__preview-caption {
    font-size: 16px;
  }

  .modal_background {
    background-color: #212121f8;
  }
}
